<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span >Bem vindo ao Cinerama</span>
    <span class="example-spacer"></span>
    <button  class="example-icon login-icon" aria-label="Example icon-button with heart icon"   matTooltip="Faça seu login">
      <mat-icon class="example-icon">login</mat-icon>
    </button>
    <button mat-icon-button class="example-icon login-out-icon" aria-label="Example icon-button with share icon" matTooltip="Desconectar">
     <mat-icon>logout</mat-icon>
   </button>

  </mat-toolbar>
</p>



<div id="divGlobal">
<h1 style="text-align: center;"> Cadastro de Cliente</h1>

<form  novalidate class="example-form">

<div class="divForm" >
  <div style="margin-top: 10px;"> <mat-form-field class="example-full-width">
    <mat-label>Nome: </mat-label>
    <input width="400px" matInput placeholder="insira seu nome completo.">
  </mat-form-field>
</div>

<div>
  <mat-form-field class="example-full-width">
    <mat-label>CPF: </mat-label>
    <input matInput placeholder="insira seu cpf.">
  </mat-form-field>
</div>

<div>
  <mat-form-field class="example-full-width">
    <mat-label>Idade: </mat-label>
    <input matInput placeholder="insira sua idade.">
  </mat-form-field>
</div>

<div>
  <mat-form-field class="example-full-width">
    <mat-label>Endereço: </mat-label>
    <input matInput placeholder="insira seu endereço completo.">
  </mat-form-field>
</div>

<div>
  <mat-form-field class="example-full-width">
    <mat-label>telefone: </mat-label>
    <input matInput placeholder="insira seu telefone.">
  </mat-form-field>
</div>

<div>
  <mat-form-field class="example-full-width">
    <input autocomplete="off" matInput placeholder="Email:"  type="email" formControlName="email">
</mat-form-field>
    <!-- <mat-error *ngIf="!email">
        {{getEmailError()}}
    </mat-error> -->
</div>




<div>
<button style="margin-right: 5px;" mat-raised-button color="primary" >Salvar</button>
<button mat-raised-button color="warn">Voltar</button>
</div>





<table mat-table class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Nome">
    <th mat-header-cell *matHeaderCellDef> nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="CPF">
    <th mat-header-cell *matHeaderCellDef> CPF </th>
    <td mat-cell *matCellDef="let element"> {{element.CPF}} </td>
  </ng-container>

  <ng-container matColumnDef="Idade">
    <th mat-header-cell *matHeaderCellDef> Idade </th>
    <td mat-cell *matCellDef="let element"> {{element.idade}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Endereço">
    <th mat-header-cell *matHeaderCellDef> Endereço </th>
    <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
  </ng-container>

  <ng-container matColumnDef="Telefone">
    <th mat-header-cell *matHeaderCellDef> Telefone </th>
    <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
  </ng-container>

  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>
</form>




</div>
